<footer class="footer mt-4" style="background-color: #f8f9fa; padding: 20px 0; border:1px solid #e9ecef">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-info-circle me-2 "></i>About Us</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-envelope me-2 "></i>Contact Us</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-shield-lock me-2 "></i>Privacy Policy</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-file-earmark-text me-2"></i>Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;" ><i class="bi bi-journal-text me-2 "></i>Blog</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-question-circle me-2 "></i>FAQs</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-life-preserver me-2 "></i>Support</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-envelope-open me-2 "></i>Newsletter Signup</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-facebook me-2 "></i>Facebook</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-twitter me-2 "></i>Twitter</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-linkedin me-2 "></i>LinkedIn</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-instagram me-2"></i>Instagram</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-geo-alt me-2"></i>Egdk, Mangaluru</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-telephone me-2"></i>9743176780</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-envelope me-2"></i>xyz&#64;eg.dk</a></li>
                    <li class="mb-2"><a href="#" style="text-decoration: none; color: #6c757d;"><i class="bi bi-telephone-inbound me-2"></i>+1(555)123-4567 </a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; 2024 DocuTube. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
