<div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-md-between ">
        <div class="col-md-auto">
            <div class="d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#Sidebar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="bi bi-list mt-3 fs-4 mx-1"></i></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="Sidebar" aria-labelledby="offcanvasNavbarLabel" style="width: 300px;">
                    <div class="offcanvas-header">
            
                      <button type="button" class="btn" data-bs-dismiss="offcanvas"><i class="bi bi-list mt-3 fs-4 mx-1"></i></button>
                      <img class="ms-2" src="https://th.bing.com/th/id/OIP.sCtdNjphAin-gugu0MNptAAAAA?rs=1&pid=ImgDetMain" alt="" width="100px">
                    </div>
                    <div class="offcanvas-body">
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item d-flex">
                          <i class="bi bi-house-door mt-2 mx-4"></i>
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item d-flex">
                            <i class="bi bi-book mt-2 mx-4"></i>
                          <a class="nav-link" href="#">Shorts</a>
                        </li>
                        <li class="nav-item d-flex">
                            <i class="bi bi-coin mt-2 mx-4"></i>
                            <a class="nav-link" href="#">Subscriptions</a>
                        </li>
                        <hr>
                        <li class="nav-item d-flex">
                            <i class="bi bi-person-circle mt-2 mx-4"></i>
                            <a class="nav-link" href="#">You</a>
                        </li>
                        <li class="nav-item d-flex">
                            <i class="bi bi-fire mt-2 mx-4"></i>
                            <a class="nav-link" href="#">Trending</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                <img class="ms-2" src="https://th.bing.com/th/id/OIP.sCtdNjphAin-gugu0MNptAAAAA?rs=1&pid=ImgDetMain" alt="" width="120px">
            </div>
        </div>
        <div class="col col-md-6 d-none d-md-flex align-items-center justify-content-center col-lg-6">
            <div class="input-group mt-3 flex-nowrap col-10" style="width: 90%;">
                <input type="text" class="form-control rounded-full" placeholder="Search">
                <button class="input-group-text rounded-full"><i class="bi bi-search"></i></button>
            </div>
            <div class="ms-1 mt-3 ms-3">
                <i class="bi bi-mic-fill"></i>
            </div>
        </div>
        <ul class="col-md-auto d-flex" style="list-style: none;">
            <li><a href="" class="nav-link px-2 mt-4 mx-2"><i class="bi bi-camera-video"></i></a></li>
            <li><a href="" class="nav-link px-2 mt-4 mx-2"><i class="bi bi-grid-3x3-gap-fill"></i></a></li>
            <li><a href="" class="nav-link px-2 mt-4 mx-2"><i class="bi bi-bell"></i></a></li>
            <li><a href="" class="nav-link px-2 mt-4 mx-2"><i class="bi bi-person-circle"></i></a></li>
        </ul>
    </div>
</div>


